body{
    overflow-x: hidden;
    background-color: #edf2f4;
}

.collapse{
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .navbar{
    padding-top: 30px;
   }

   .navbar ul li a:hover {
    height: 100%;
    background: #2f3e46;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    transition: all 1s;
    
  }

  .descriptionn{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
   
  
#title{
    max-width: 40%;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
    padding-left: 10px;
    background: #fff;
    margin-bottom: 60px;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: larger;
    font-family: "Montserrat"; 
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    border-color: black;

}


 label{
   color: black;
   font-family: "Montserrat"; 
   font-size: 1.5rem;
 }

 


.icon:hover{
    padding-right: 25px;
    transition: all .3s;
  }
  
  .btn{
    background-color: #2f3e46;
    font-size: large;
     color: #cad2c5;
     font-family: "Montserrat"; 
  }

  form{
    font-family: "Montserrat"; 
  }
  
   .wrap {
    max-width: 90%;
    border-radius: 20px;
    margin: auto;
    background:  #cad2c5;
    box-sizing: border-box;
    padding: 15px;
    color: #2f3e46;
    text-align: center;
    font-size: larger;
    margin-bottom: 50px;
    font-family: "Montserrat"; 
    box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.1); 
     }
     .wrap1{
    max-width: 90%;
    border-radius: 20px;
    margin: auto;
    background:  #cad2c5;
    box-sizing: border-box;
    padding: 15px;
    color: #2f3e46;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 50px;
    font-family: "Montserrat"; 
    box-shadow: 10px 3px 10px rgba(0, 0, 0, 0.1);
     }

     .dropdown{
     max-width: 63%;
    border-radius: 30px;
    margin: auto;
    background:  rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    padding: 30px;
    color: rgb(56, 56, 56);
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-size: larger;
     }

     option{
        font-size: medium;
     }

     h4{
        margin-top: 35px;
        font-size: 2rem;
     }


   

/*footer*/


.contact-form .contact-input{
    background: #cad2c5;
    color: #2f3e46;
    margin-bottom: 10px;
    margin-top: 15px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border-radius: 5px;
    border: none;
    width: 100%;
  }
  
  .btnn{
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    background-color: #84a98c;
    float: right;
   
   }
  
   textarea {
    resize: none;
  }