body{
  font-family: "Montserrat", sans-serif;
  color: #000;
  overflow-x: hidden;
  
}

.collapse{
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbar{
  padding-top: 30px;
 }

 .navbar ul li a:hover {
  height: 100%;
  background: #2f3e46;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  transition: all 1s;
  
}

.recent{
  margin-bottom: 3rem;
  margin-right: 2rem; 
}

.activity-grid{
display: grid;
grid-template-columns: 55% 45%;
grid-column-gap: 1.5rem;
}

.activity-card{
text-align: center;
padding-top: 3rem;
font-family:"Montserrat" ;

}

.summary{
 text-align: center;
padding-top: 3rem;
font-family:"Montserrat" ;


}

.summary li{
  font-size: 1.2rem;
  padding-top: 20px;
}

#role{
  font-size: 1.5rem;
  font-family:"Montserrat" ;
}

#role li{
  margin-bottom: 15px;
}

.wrap2{
  max-width: 100%;
  min-height: 160px;
  border-radius: 200px;
  background:#cad2c5;
  box-sizing: border-box;
  margin:auto;
  margin-top: 2rem;
  color: #2f3e46;
  margin-bottom: 6rem;
  font-size:large;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  box-shadow: 10px 20px 35px rgba(0, 0, 0, 0.1); 
}



.feature-box{
text-align: center;
padding: 5%;
}


.catch-frase {
  font-size: 3em;
  position: absolute;
  left: 100px;
  top: 300px;
}



.icon:hover{
  padding-right: 25px;
  transition: all .3s;
}


  h3{
    font-family: 'Montserrat', sans-serif;
    color: #A8E890;
  }
/*
  hr{
    border: dotted #EAF6F6 6px ;
    border-bottom: none;
    width: 80px;
    margin: 100px auto;
  }

 */

.description{
  padding-top: 100px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}


/*footer*/


.contact-form .contact-input{
  background: #cad2c5;
  color: #2f3e46;
  margin-bottom: 10px;
  margin-top: 15px;
  line-height: 1.5rem;
  padding: .9rem 1.4rem;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.btnn{
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  background-color: #84a98c;
  float: right;
 
 }

 textarea {
  resize: none;
}
