body{
    font-family: "Montserrat", sans-serif;
    background-color:#F6F6F6;
    overflow-x: hidden;
   } 

   label{
    padding: 10 8px;
   }

   p{

    padding-left: 10px;
   }

   .collapse{
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .navbar{
    padding-top: 30px;
   /* margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
    -webkit-border-radius: 10;
     -moz-border-radius: 10;
     border-radius: 15px;*/
   
   }

   .navbar ul li a:hover {
    height: 100%;
    background: #2f3e46;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    transition: all 1s;
    
  }

  .icon:hover{
    padding-right: 25px;
    transition: all .3s;
  }
  .descriptionn{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  table {
    font-family: "Montserrat";
    border-collapse: collapse;
    border-width: 10px;
   width: 75%;
    /* margin-left: 20px;
    margin-right: 150px;
    */
    margin-top: 100px;
    margin-bottom: 60px;
    
  }

  td, th {
    border: 1px solid  #2f3e46;
    text-align: left;
    padding: 8px;
    font-size:1.4rem;
    border-width: 3px;
    color: #000;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color:  #cad2c5;
  }
  tr:nth-child(odd) {
    background-color:  #52796f;
  }
  

  input:invalid { 
    background-color: white;
    border:#2f3e46;
    outline: 2px solid #2f3e46 ;
    border-radius: 5px;}
   
   label{
     font-size: larger;
    color: black;
  /*  padding: 10 8px;*/
   }
   
   input{
   /* padding: auto 13px;*/
    width: 300px;
     height: 40px;
    color: black; 
    border-radius: 5px;
    font-size:large;
   }
   /*
   .form{
    padding-left: 30px;
    margin-left: 30px;
    padding-top: 50px;
  
   }
   */
   .btn{
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    height: 60px; 
    width: 30%; 
    margin-top: 15px;
   }
   
   
  
  /*footer*/


  .contact-form .contact-input{
    background: #cad2c5;
    color: #2f3e46;
    margin-bottom: 10px;
    margin-top: 15px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border-radius: 5px;
    border: none;
    width: 100%;
  }
  
  .btnn{
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    background-color: #84a98c;
    float: right;
   
   }
  
   textarea {
    resize: none;
  }
